@model IEnumerable<myWebApp.Models.Timekeeping>

@{
    ViewBag.Title = "Thông tin chấm công";
    Layout = "~/Views/Shared/_Layout - Member.cshtml";
}
<div class="container">
    <h3>THÔNG TIN CHẤM CÔNG</h3>

    @{
        if (Session["userLevel"].ToString() == "0")
        {
            using (Html.BeginForm("TimekeepingListOfMember", "Member", FormMethod.Post))
            {
                <div class="form-inline">
                    <select class="form-control" name="employeeID">

                        @{
                            string employeeID;
                            foreach (string member in (List<string>)Session["employeeList"])
                            {
                                employeeID = member.Substring(0, member.IndexOf("-"));
                                if (ViewBag.employeeSelected == employeeID)
                                {
                                    <option value="@employeeID" selected>@member</option>
                                }
                                else
                                {
                                    <option value="@member.Substring(0, member.IndexOf("-"))">@member</option>
                                }
                            }
                        }
                    </select>
                    <input class="btn btn-info" type="submit" value="Xem" />
                </div>
            }
        }
        else
        {
            if (ViewBag.timeKeeping == "personal")
            {
                <ul class="nav nav-tabs">
                    <li class="nav-item"><span style="margin:10px">CÁ NHÂN</span></li>
                    <li class="nav-item"><span style="margin:10px">@Html.ActionLink("THÀNH VIÊN", "TimekeepingListOfMember", "Member")</span></li>
                </ul>
            }
            else
            {
                <ul class="nav nav-tabs">
                    <li><span style="margin:10px">@Html.ActionLink("CÁ NHÂN", "TimekeepingInfo", "Member")</span></li>
                    <li><span style="margin:10px">THÀNH VIÊN</span></li>
                </ul>

                <br />
                using (Html.BeginForm("TimekeepingListOfMember", "Member", FormMethod.Post))
                {
                    <div class="form-inline">
                        <select class="form-control" name="employeeID">

                            @{
                                string employeeID;
                                foreach (string member in (List<string>)Session["employeeList"])
                                {
                                    employeeID = member.Substring(0, member.IndexOf("-"));
                                    if (ViewBag.employeeSelected == employeeID)
                                    {
                                        <option value="@employeeID" selected>@member</option>
                                    }
                                    else
                                    {
                                        <option value="@member.Substring(0, member.IndexOf("-"))">@member</option>
                                    }
                                }
                            }
                        </select>
                        <input class="btn btn-info" type="submit" value="Xem" />
                    </div>
                }
            }
        }
    }

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>

            </tr>
        }

    </table>
</div>

