<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My WebApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My WebApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Session["userLevel"].ToString() == "0")
                        {
                            <li>@Html.ActionLink("Danh sách nhân viên", "EmployeeList", "Admin")</li>
                            <li>@Html.ActionLink("Thông tin chấm công", "TimekeepingInfo", "Admin")</li>
                            <li>@Html.ActionLink("Đổi MK", "PasswordChange", "Admin")</li>
                            <li>@Html.ActionLink("Thoát TK", "LogOut", "Admin")</li>
                        }
                        else if (Session["userLevel"].ToString() == "1")
                        {
                            <li>@Html.ActionLink("Danh sách nhân viên", "EmployeeList", "Manager")</li>
                            <li>@Html.ActionLink("Thông tin chấm công", "TimekeepingInfo", "Manager")</li>
                            <li>@Html.ActionLink("Đổi MK", "PasswordChange", "Manager")</li>
                            <li>@Html.ActionLink("Thoát TK", "LogOut", "Manager")</li>
                        }
                        else if (Session["userLevel"].ToString() == "2")
                        {
                            <li>@Html.ActionLink("Thông tin chấm công", "TimekeepingInfo", "Employee")</li>
                            <li>@Html.ActionLink("Đổi MK", "PasswordChange", "Employee")</li>
                            <li>@Html.ActionLink("Thoát TK", "LogOut", "Employee")</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
